body {
  background: rgb(132,165,171);
  background: radial-gradient(circle, rgba(132,165,171,0.8694215044173984) 23%, rgba(95,95,175,1) 73%, rgba(82,80,117,1) 92%);  
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

.card-text {
  background: rgba(255,255,255,.2);
  border-style: solid;
  border-color: rgba(120,55,55,.1);
  padding: 2% 0 2% 0;
}

#title-card {
  background: rgba(255,255,255,.5);
  margin: 0% -20% 10% -20%;
  padding: 2% 0 2% 0;
  font-size: 300%;
}

.reset {
  padding: 2%;
  width: 20%;
  background-image: radial-gradient(circle, #89a0d4, #7a94ce, #708bc4, #6781bb, #5d78b1, #566fa1, #506692, #4a5e83);
  border-style: outset;
  border-color: black;
  border-width: 10%;
  width: 25%;
  height: 5%;
  font-size: large;
  border-radius: 20%;
}

button:hover {
  background-color: rgba(35,35,255,1); 
}

.keyboard-button {
  width: 8%;
  height: 5%;
  text-size: x-large;
  border-radius: 20%;
  border-width: 5%;
  background-image: radial-gradient(circle, #c3c9d6, #b2b8c6, #9ea5b2, #8f96a2, #818792, #656a73);
  border-color: black;
  color: black;
  font-size: large;
  transform: translateY(-6px);
  margin: 1%;
}

.keyboard-button:hover {
   background-image: radial-gradient(circle, #b2b8c6, #818792, #656a73);
}
